* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2423;
  color: white;
  font-size: 18px;
  font-family: 'Merriweather', Georgia, serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

header {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url(./Assets/macs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  
}

/* Navigation  */
nav {
  display: none;
}

nav,
.main-nav {
  padding: 1.5rem 0;
}

.nav-bar,
.nav-bar ul,
.main-nav-bar,
.main-nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none;
}

nav li,
menu a,
.main-nav li,
.main-menu a {
  padding-left: 2rem;
  list-style: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.hero {
  /* padding: 5rem 5px; */
  line-height: 1.5;
}

.hero-intro {
  font-size: 2rem;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: rgb(201, 201, 201);
}

.hero-title span,
.hero-desc span {
  color: rgb(0, 255, 179);
}

.hero-desc {
  font-size: 2rem;
  letter-spacing: 2.5px;
}

.connect-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
}

.connect button {
  font-size: 19px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: rgb(0, 255, 179);
  padding: 10px 15px;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.let-connect {
  font-size: 22px;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.let-connect a {
  text-decoration: none;
  color: rgba(0, 255, 179, 0.74);
}

.let-connect a:hover {
  color: rgb(0, 255, 179);
}

.let-connect span {
  position: absolute;
  color: white;
  font-size: x-small;
  font-weight: 600;
  top: 0;
  margin-left: 10px;
  padding: 1px;
  cursor: pointer;
  border-radius: 100%;
  background-color: rgba(0, 255, 179, 0.288);
  text-align: center;
}

/* About  */
/* .about,
.project {
  margin: 3rem 0;
} */

.about-title,
.project-title {
  color: rgb(0, 255, 179);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.747);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sub-about {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

.pix {
  width: 600px;
}

.about-desc {
  width: 100%;
  line-height: 2;
  letter-spacing: 1px;
}

/* Projects  */
.flex-project {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around;
  margin: 0 auto;
  gap: 5px;
}

.sub-project {
  
  text-align: center;
  border-bottom: 3px solid rgba(240, 227, 227, 0.986);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 50px;
}

.sub-project .tools {
  color: #1fdba6;
  font-size: 1.2rem;
  padding-top: 10px;
  margin-bottom: 10px;
}

.sub-project img {
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2.5rem;
}

.project-desc {
  width: 100%;
  height: 4.3ch;
  overflow: hidden;
  padding-top: 5px;
}

/* overlay for project sample  */
.project-pic {
  position: relative;
  width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.808);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: rgb(0, 255, 179);
  border: 2px dotted rgba(0, 255, 179, 0.404);
  border-radius: 5px;
}

.overlay-item {
  margin: 25% 0;
}

.overlay span {
  display: block;
}

.project-pic:hover .overlay {
  opacity: 1.5;
}

/* Footer  */
footer {
  background-color: #333;
  color: #fff;
  padding-top: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
}

/* Media Query for Responsiveness */
@media (max-width: 1022px) {
  body {
    text-align: center;
  }

  .connect-btn {
    display: inline-block;
    flex-wrap: wrap;
    align-items: center;
  }

  .connect button {
    margin: 0 auto;
  }

  .let-connect {
    margin: 20px auto 0;
  }

  .sub-about {
    justify-content: center;
  }

  .pix {
    width: 100%;
  }
}

@media (max-width: 778px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  nav {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
    transition: all 0.2s ease;
  }

  .nav-bar {
    align-items: start;
  }

  .nav-bar ul {
    display: block;
    margin-top: 20px;
  }

  nav li {
    padding-top: 10px;
  }

  nav li,
  menu a {
    padding-left: 0;
  }
}

@media (max-width: 656px) {
  .hero-title {
    font-size: 2.5em;
  }

  .hero-desc {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .project-pic {
    width: 100%;
  }

  .hero-title {
    font-size: 2em;
  }
}
